// Place all the styles related to the Messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
h2 {
    font-size: 16px;
    font-weight: bold;
}
.vert-align {
    vertical-align: middle;
}

.center {
    text-align: center;
    vertical-align: middle;
    margin: auto;
}

span {
    font-weight: bold;
}

.container-width {
    max-width: 1000px;
}

img {
    transition: all .2s;
}

img:hover {
    opacity: 0.8;
}